@use './assets/sass/config';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    @include config.font-paragraf;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

/* Intro */
.webview{
    width: 100%;
    margin: auto;

    .intro{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: config.$color-green;
        color: config.$color-white;

        .container{
            h1{
                font-size: 2rem;
                text-align: center;
            }

            p{
                font-size: 1rem;
                text-align: center;
            }

            .m-auto-btn{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 8px;

                .btn-portfolio{
                    @include config.font-paragraf;
                    width: 160px;
                    height: 35px;
                    border-radius: 6px;
                    border: 1px solid config.$color-white;
                    background-color: transparent;
                    color: config.$color-white;
                }
            }
        }
    }
}

/* Sobre */
.webview{

    .sobre{
        width: 100%;

        .container{
            padding: 10px;
            
            .title{
                width: 100%;
                text-align: center;
                margin-top: 20px;

                h2{
                    @include config.font-subtitle;
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: config.$color-green;
                }
            }

            .row{
                width: 100%;
                margin-top: 30px;
                margin-bottom: 30px;

                .c-photo{
                    width: 100%;
                    margin: auto;
                    margin-bottom: 30px;

                    img{
                        width: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: top;
                    }
                }


                .c-descricao{
                    width: 100%;

                    p{
                        @include config.font-paragraf;
                        text-align: justify;
                        margin-bottom: 20px;
                    }

                    .habilidades{
                        width: 100%;

                        .h-item{
                            width: 100%;
                            margin-bottom: 10px;

                            .h-title{
                                width: 100%;

                                h3{
                                    @include config.font-paragraf;
                                    font-size: 1rem;
                                    font-weight: bold;
                                }
                            }

                            .h-c-porcentagem{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                width: 100%;
                                min-height: 25px;

                                .h-porcentagem-geral{
                                    position: relative;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    width: 100%;
                                    height: 6px;
                                    border-radius: 6px;

                                    .h-porcentagem-conhecimento{
                                        height: 100%;
                                    }
                                    
                                    span{
                                        @include config.font-paragraf;
                                        margin-left: 10px;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Serviços */
.webview{
    .servicos{
        width: 100%;
        background-color: config.$color-green;
        color: config.$color-white;

        .container{
            padding: 10px;

            .s-title{
                width: 100%;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 30ps;
            
                h2{
                    @include config.font-paragraf;
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: config.$color-white;
                }
            }

            .s-carousel{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin-bottom: 30px;

                .s-carousel-container{
                    display: flex;
                    flex-direction: row;
                    min-width: 100%;

                    .s-carousel-item{
                        min-height: 260px;
                        background-color: config.$color-white;
                        color: config.$color-green;

                        .title{
                            width: 100%;
                            padding: 10px;

                            p{
                                @include config.font-paragraf;
                                font-size: 1.6rem;
                                font-weight: bold;
                            }
                        }

                        .body{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            min-height: 180px;

                            .icon{
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                margin-bottom: 10px;

                                .span i{
                                    font-size: 38px;
                                }
                            }

                            .texto{
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                min-height: 10px;

                                p{
                                    @include config.font-paragraf;
                                    text-align: center;
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Portfolio */
.webview{

    .portfolios{
        width: 100%;
        min-height: 10vh;

        .container{
            padding: 10px;

            .p-title{
                width: 100%;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 30px;

                h2{
                    @include config.font-subtitle;
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: config.$color-green;
                }
            }

            .p-projetos{
                width: 100%;

                .projeto{
                    width: 100%;
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: (3, auto);
                    row-gap: 10px;

                    .photos{
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;

                        .img{
                            width: 100%;
                            height: 100%;
                            position: relative;

                            &:hover{
                                .descricao{
                                    position: absolute;
                                    display: flex;
                                    width: 100%;
                                    height: 50px;
                                    background-color: #29AE81;
                                    bottom: 0;
                                    left: 0;
                                    z-index: 9999;

                                    p{
                                        display: block;
                                        color: config.$color-white;
                                    }
                                }  
                            }

                            img{
                                width: 100%;
                                height: 100%;
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;
                            } 
                        }
                        
                        .descricao{
                            display: none;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            min-height: 50px;

                            p{
                                @include config.font-paragraf;
                                display: none;
                                color: config.$color-white;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Contato */
.webview{

    .contato{
        width: 100%;
        margin-bottom: 30px;

        .container{
            padding: 10px;

            .title{
                width: 100%;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 30px;

                h2{
                    @include config.font-subtitle;
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: config.$color-green;
                }
            }

            .formulario{
                width: 100%;

                form{
                    width: 100%;

                    .form-group{
                        width: 100%;

                        .controls{
                            width: 100%;
                            width: 100%;

                            label{
                                @include config.font-paragraf;
                                font-weight: bold;
                                color: config.$color-green;
                            }

                            input{
                                @include config.font-paragraf;
                                width: 100%;
                                height: 30px;
                                padding: 10px;
                                border: 1px solid config.$color-green;

                                &:active{
                                    border-radius: 2px;
                                    border: 1px solid config.$color-green;
                                }

                                &:focus{
                                    border-radius: 2px;
                                    border: 1px solid config.$color-green;
                                }
                            }

                            textarea{
                                @include config.font-paragraf;
                                width: 100%;
                                height: 180px;
                                padding: 10px;
                                border: 1px solid config.$color-green;
                                outline: none;

                                &:active{
                                    border-radius: 2px;
                                    border: 1px solid config.$color-green;
                                }

                                &:focus{
                                    border-radius: 2px;
                                    border: 1px solid config.$color-green;
                                }
                            }
                        }

                        .btn-form-send{
                            @include config.font-paragraf;
                            margin-top: 20px;
                            width: 140px;
                            height: 40px;
                            border: none;
                            border-radius: 2px;
                            background-color: config.$color-green;
                            color: config.$color-white;

                            &:active{
                                background-color: config.$color-green;
                                }

                            &:hover{
                                background-color: config.$color-green;
                                }
                        }
                    }
                }
            }
        }
    }
}

/* Rodapé */
.webview{

    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: config.$color-green;

        span{
            @include config.font-paragraf;
            color: config.$color-white;
        }
    }
}


/* Responsividade */

/* 425px */
@media only screen and (min-width: config.$media-mobile-l) {
    .webview {
    
        .intro{
            
            .container{

                h1{
                    font-size: 2.4rem;
                }

                p{
                    font-size: 1.2rem;
                }
            }
        }
    }

    .webview {
        .sobre{

            .container{

                .row{
                    display: grid;
                    grid-template-columns: repeat(2, 50%);

                    .c-photo{
                        padding: 10px;
                    }

                    .c-descricao{
                        padding: 10px;

                        p{
                            font-size: 1.2rem;
                        }
                        
                        .habilidades{

                            .h-item{

                                .h-title{

                                    h3{
                                        font-size: 1.2rem;
                                    }
                                }

                                .h-c-porcentagem{

                                    .h-porcentagem-geral{

                                        span{
                                            font-size: 1.2rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .webview{
        .servicos{

            .container{

                .s-carousel{
                    margin-bottom: 40px;
                    height: 400px;
                }
            }
        }
    }

    .webview{   

        .portfolios{

                .container{

                    .p-title{
                        margin-top: 30px;
                        margin-bottom: 30px;
                    }

                    .p-projetos{

                        .projeto{
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-rows: repeat(2, 1fr);
                            column-gap: 10px;
                            row-gap: 10px;

                            .photos{
                                height: 100%;

                                img{
                                    position: relative;

                                    &:hover{

                                        .descricao{
                                            position: absolute;
                                            display: flex;
                                            width: 100%;
                                            height: 50px;
                                            background-color: config.$color-green;
                                            bottom: 0;
                                            left: 0;
                                            z-index: 9999;

                                            p{
                                                display: block;
                                                color: config.$color-white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
    }

    .webview{

        .contato{

            .container{

                .title{
                    margin-top: 30px;
                    margin-bottom: 30px;
                }

                .formulario{
                    
                    form{

                        .form-group{
                            display: flex;
                            flex-direction: row;

                            .controls{
                                padding: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}